.main-login {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg-main);
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'Fira Sans', sans-serif;
}

.main-left {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.circle1 {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  top: 150px;
  background-color: #fdb87f;
}

.circle2 {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: absolute;
  right: 377px;
  top: 318px;
  background-color: #fdb87f;
}

.main-right {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 50px;
}

.container-login {
  width: 500px;
  height: 600px;
  border-radius: 10px;
  border: 5px solid #e2e2e2;
  background-color: var(--bg-login);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  scale: .8;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
}

input {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  appearance: none;
  margin-bottom: 10px;
  padding-left: 10px;
}

input:focus {
  border-color: var(--bg-main);
}

.erro {
  border: 1px solid red;
}

span {
  color: red;
  font-size: .9rem;
}

.btn-login {
  width: 80%;
  height: 40px;
  background-color: rgb(255, 136, 0);
  color: #ffff;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .2s;
}

.btn-login:hover {
  scale: 1.1;
}

.footer {
  display: flex;
  align-items: center;
  color: #ffff;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
}

.logo-midas {
  position: absolute;
  top: -23px;
  left: 115px;
  width: 90px;
}

@media screen and (max-width: 1400px) {
  img {
    scale: .7;
  }

  .circle1 {
    width: 350px;
    height: 350px;
    right: 60px;
    top: 170px;
  }

  .circle2 {
    width: 250px;
    height: 250px;
    right: 280px;
    top: 330px;
  }
}

@media screen and (max-width: 1200px) {
  .main-left {
    display: none;
  }

  .main-right {
    margin: 0;
    width: 100vw;
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .container-login {
    width: 80%;
  }

  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}